<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 스킵 메뉴 -->
<div id="pyo_skip">
    <a rel="bookmark" href="#movie">최신 영화 소식</a>
    <a rel="bookmark" href="#event">새로운 이벤트</a>
    <a rel="bookmark" href="#new">새로운 영화</a>
</div>
<!-- //스킵 메뉴 -->
<header id="pyo_header">
    <div class="pyo_container">
        <div class="pyo_row">
            <div class="pyo_header clearfix">
                <h1>
                    <a href="#">
                        <em><img src="/img/logo.png" alt="MEGABOX"/></em>
                        <strong><img src="/img/logo-sub.png" alt="LIFE THEATER"/></strong>
                    </a>
                </h1>
                <nav id="pyo_mNav">
                    <h2 class="ir_so">메가박스 전체 메뉴</h2>
                    <a href="#" class="pyo_ham"><span></span></a>
                </nav>
                <nav class="pyo_nav">
                    <ul class="clearfix">
                        <li><a href="#">영화</a></li>
                        <li><a href="#">큐레이션</a></li>
                        <li><a href="#">영화관</a></li>
                        <li><a href="#">특별관</a></li>
                        <li><a href="#">이벤트</a></li>
                        <li><a href="/member/join">회원가입</a></li>
                        <th:block sec:authorize="isAnonymous()">
                            <!-- 인증 받지 않음 -->
                            <li id="loginBtn"><a href="javascript:void(0);">로그인</a></li>

                        </th:block>
                        <th:block sec:authorize="isAuthenticated()">
                            <!-- 인증 받음 -->
                            <li><a href="/logout">로그아웃</a></li>
                        </th:block>
                    </ul>
                </nav>
                <!--<div th:if="loginRequest" id="login_modal_check" style="display:none;" data-mydata="${loginRequest}"></div>-->
            </div>
        </div>
    </div>
    <!--로그인 모달창-->
    <div class="modal loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">로그인</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/loginProc" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="이메일을 입력해주세요!" name="username" required>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                            <label class="form-check-label" for="rememberMe">로그인 상태 유지</label>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요!" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-warning" href="/member/find_id">아이디 찾기</a>
                    <a class="btn btn-warning" href="/member/find_pass">비밀번호 재설정하기</a>
                </div>
            </div>
        </div>
    </div>
    <!--//모달창-->
    <script>
        $(document).ready(function(){
            $("#loginBtn").click(function(){
                $(".loginModal").modal("show");
            })
        })
    </script>
</header>
<!--//header-->



</html>