<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h2>회원 정보 찾기</h2>
        <div>
            <h2>아이디 찾기</h2>
            <div>
                <div class="form-group">
                    이름
                    <input type="text" required class="form-control" name="findIdName" placeholder="가입한 이름을 입력해 주세요"/>
                </div>
                <div class="form-group">
                    전화번호
                    <input type="text" required class="form-control" name="findIdPnumber" placeholder="가입한 전화번호를 입력해주세요"/>
                </div>
                <button type="button" class="btn btn-primary findIdBtn">아이디찾기</button>
            </div>
        </div>
        <div>
            <h2>임시 비밀번호 받기</h2>
            <p>입력된 이메일로 임시 비밀번호가 전송됩니다.</p>
            <div>
                <div class="form-group">
                    이메일
                    <input type="email" required class="form-control" name="resetPassEmail" placeholder="가입한 이메일을 입력해주세요"/>
                </div>
                <div class="form-group">
                    이름
                    <input type="text" required class="form-control" name="resetPassName" placeholder="가입한 이름을 입력해 주세요"/>
                </div>
                <button type="button" class="btn btn-primary resetPassBtn">임시 비밀번호 발급</button>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                let findIdBtn = $(".findIdBtn");                        // 아이디 찾기 버튼
                let findIdName = $("input[name='findIdName']");         // 아이디 찾기에서 이름 값
                let findIdPnumber = $("input[name='findIdPnumber']");   // 아이디 찾기에서 전화번호 값

                let resetPassBtn = $(".resetPassBtn");                  // 임시 비밀번호 발급 버튼
                let resetPassEmail = $("input[name='resetPassEmail']"); // 임시 비밀번호 발급받을 때 이메일 입력칸
                let resetPassName = $("input[name='resetPassName']");   // 임시 비밀번호 발급받을 때 이름 입력칸

                //아이디찾기 버튼 클릭 시 작동
                //JSON.stringify(객체) ---> json
                findIdBtn.click(function(){
                    //아이디랑 전화번호를 자바스크립트 객체로 생성
                    let findIdData = {
                        name : findIdName.val(),
                        pnumber : findIdPnumber.val()
                    }

                    //ajax로 데이터 전송하기
                    $.ajax({
                        url : "/findMember/findId",
                        type : "post",
                        data : JSON.stringify(findIdData),
                        contentType : "application/json; charset=utf-8",
                        dataType : "text",
                        success : function(result){
                            alert(result);
                        }
                    })
                })

                //임시 비밀번호 발급 버튼 클릭하면 작동
                resetPassBtn.click(function(){
                    //입력받은 이메일이랑 이름을 자바스크립트 객체로 생성
                    let resetPassData = {
                        email : resetPassEmail.val(),
                        name : resetPassName.val()
                    }

                    //ajax로 데이터 전송하기
                    $.ajax({
                        url : "/findMember/resetPass",
                        type : "post",
                        data : JSON.stringify(resetPassData),
                        contentType : "application/json; charset=utf-8",
                        dataType : "text",
                        success : function (result) {
                            if (result=="ok"){
                                alert("입력하신 이메일로 임시 비밀번호가 발송되었습니다!");
                                $.ajax({
                                    url : "/findMember/resetPass/sendEmail",
                                    type : "post",
                                    data : JSON.stringify(resetPassData),
                                    contentType : "application/json; charset=utf-8"
                                })
                            }else{
                                alert("입력하신 정보로 가입된 회원이 없습니다.");
                            }

                        }
                    })
                })

            })
        </script>
    </th:block>
</th:block>
</html>