@charset "utf-8";
*, ::after, ::before {
    box-sizing: content-box;
}

/*스킵메뉴*/
#pyo_skip {position: relative;}
#pyo_skip a {position: absolute; left: 0; top: -40px; width: 140px; line-height: 30px;
border: 1px solid #fff; color : #fff; text-align: center; background : #333;}
#pyo_skip a:active,
#pyo_skip a:focus {top:0;}

/*레이아웃*/
#pyo_mNav {display: none; position: absolute; top: 10px; right: 14px;}
#pyo_header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #c6c6c6;
}
#pyo_banner {position: relative;}
#pyo_movie {background-color: #f8f8f8;}
#pyo_event {}
#pyo_opening {margin: 17px 0; background: url(../img/bg01.jpg) no-repeat center top; background-size: cover;}
#pyo_new {}
#pyo_help {}
#pyo_footer {background-color: #211f1f;}

/*가운데 영역*/
.pyo_container {
    position : relative;
    width: 1280px;
    margin: 0 auto;
    background: rgba(0,0,0,0);
}

/*로우영역*/
.pyo_row {padding: 0 28px;}

/*모바일용 메뉴*/
.ham {display: block; width: 25px; height: 10px; background: rgba(0,0,0,0); padding: 15px 10px 10px 10px;}
.ham span {position: relative; display: block; width: 25px; height: 4px; background: #39106a;}
.ham span::before {
    content: '';
    width: 25px;
    height: 4px;
    background: #39106a;
    position: absolute; left: 0; bottom: -7px;
}
.ham span::after {
    content: '';
    width: 25px;
    height: 4px;
    background: #39106a;
    position: absolute; left: 0; top: -7px;
}

/*헤더영역*/
.pyo_header h1 {float: left;}
.pyo_header h1 em {
    padding: 18px 8px 5px 0;
    display: inline-block;
}
.pyo_header h1 em img {width: 155px;}
.pyo_header h1 strong {
    display: block;
    position: absolute;
    left: 194px;
    top:24px;
}
.pyo_header h1 strong img {width: 126px;}
.pyo_header .pyo_nav {float: right;}
.pyo_header .pyo_nav ul {border-left: 1px solid #c6c6c6;}
.pyo_header .pyo_nav ul li {
    float: left;
    width: 103px;
    text-align: center;
    border-right: 1px solid #c6c6c6;
}
.pyo_header .pyo_nav ul li a {
    display: block;
    padding: 18px 10px;
    font-size: 17px;
    font-weight: 700;
    color : #444;
}

/*배너*/
.pyo_banner_menu {
    overflow : hidden;
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100px;
    z-index: 10;
}
.pyo_banner_menu a {color : #fff; font-size: 16px;}
.pyo_banner_menu a:hover {color: #c1c1c1; transition: all 0.3s;}
.pyo_banner_menu .bm_left {float: left;}
.pyo_banner_menu .bm_left ul {padding-top: 7px;}
.pyo_banner_menu .bm_left li {display: inline; position: relative; margin-right: 30px;}
.pyo_banner_menu .bm_left li.total {margin-right: 20px;}
.pyo_banner_menu .bm_left li.total a {font-size:14px; padding: 3px 10px; display: inline-block; border : 1px solid #fff; transition: all 0.3s;}
.pyo_banner_menu .bm_left li.total a:hover {background: #fff; border-color: #000; color:#000;}
.pyo_banner_menu .bm_right {float: right; overflow: hidden;}
.pyo_banner_menu .bm_right ul {float: left;}
.pyo_banner_menu .bm_right ul:first-child {padding-top: 7px;}
.pyo_banner_menu .bm_right li {position: relative; display: inline; text-align:center; margin-right: 20px;}
.pyo_banner_menu .bm_right li.line {margin-right: 30px;}
.pyo_banner_menu .bm_right li.white {margin-right: 10px;}
.pyo_banner_menu .bm_right li.white a {width: 80px; background-color: #fff; color:#3a0e6a; padding: 7px 30px 9px 30px; display: inline-block ; border: 1px solid #fff; box-sizing: content-box !important;}
.pyo_banner_menu .bm_right li.purple {margin-right: 0px;}
.pyo_banner_menu .bm_right li.purple a {width: 80px; background-color: #3a0e6a; color:#fff; padding: 7px 30px 9px 30px; display: inline-block ; border: 1px solid #6e40c4; box-sizing: content-box !important;}
.pyo_banner_menu li.line:after {content: ''; width: 1px; height: 14px; background: #fff; position: absolute; right: -18px; top: 2px;}

/*슬라이드*/
.pyo_slider {width: 100%; height: 600px;}
.pyo_slider .ss1 {
    background: url(../img/swiper01.jpg) no-repeat center center;
    background-size: cover;
}
.pyo_slider .ss2 {
    background: url(../img/swiper01.jpg) no-repeat center center;
    background-size: cover;
}
.pyo_slider .ss3 {
    background: url(../img/swiper01.jpg) no-repeat center center;
    background-size: cover;
}
.pyo_slider .swiper-slide h2 {position: relative; display: inline-block; font-size: 62px; line-height: 70px; color: #fff; margin-top: 200px;}
.pyo_slider .swiper-slide h2::after {content:''; width: 100%; height: 1px; background: rgba(255,255,255,0.3); position: absolute; left: 0; bottom: -35px;}
.pyo_slider .swiper-slide h2 em {font-size : 59px; display: block; font-weight: 100;}
.pyo_slider .swiper-slide p {font-size: 27px; color: #fff; padding-top: 55px;}


/*무비*/
.pyo_movie {padding :100px 0;}
.pyo_movie_title {margin-bottom: 60px;}
.pyo_movie_title ul {overflow: hidden; width: 848px; margin: 0 auto;}
.pyo_movie_title li {float: left; width: 210px; text-align: center; border: 1px solid #c4c4c4; margin-right: -1px;}
.pyo_movie_title li a {display: block; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700;}
.pyo_movie_title li.active a {background: #666; color: #fff;}
.pyo_movie_chart {overflow: hidden;}
.pyo_movie_chart > div > div > div{float: left; width: 292px; margin-right: 18px;}
.pyo_movie_chart > div > div > div:last-child {margin-right: 0;}
.pyo_movie_chart > div > div > div .poster {position: relative;}
.pyo_movie_chart > div > div > div .poster img {display: block;}
.pyo_movie_chart > div > div > div .poster .rank {position: absolute; top: 17px; left: 0; width: 50px; height: 50px; font-size: 22px; box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5); line-height: 50px;
background-color: #38116a; text-align: center;}
.pyo_movie_chart > div > div > div .poster .rank strong {color: #fff; text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);}
.pyo_movie_chart > div > div > div .poster .mx {position: absolute; top: 17px; right: 17px;}
.pyo_movie_chart > div > div > div .poster .mx span {width: 103px; height: 25px; display: block;}
.pyo_movie_chart > div > div > div .poster .mx .m {background-position: 0 -75px;}
.pyo_movie_chart > div > div > div .poster .mx .b {background-position: 0 -100px;}
.pyo_movie_chart > div > div > div .infor {background-color: #fff; padding: 17px; border: 1px solid #d9d9d9;}
.pyo_movie_chart > div > div > div .infor  h3 {color: #333; font-size: 30px; font-weight: 700; margin-bottom: 20px;}
.pyo_movie_chart > div > div > div .infor  h3 span {width: 29px; height: 29px; display: inline-block; margin-top: 9px; vertical-align: -2px;}
.pyo_movie_chart > div > div > div .infor  h3 span.all {background-position: -87px -125px;}
.pyo_movie_chart > div > div > div .infor  h3 span.a12 {background-position: 0px -125px;}
.pyo_movie_chart > div > div > div .infor  h3 span.a15 {background-position: -29px -125px;}
.pyo_movie_chart > div > div > div .infor  h3 span.a19 {background-position: -58px -125px;}
.pyo_movie_chart > div > div > div .infor .infor_btn {overflow: hidden;}
.pyo_movie_chart > div > div > div .infor .infor_btn a {float: left; width: 49%; margin-right: 2%; text-align: center; background: #f2f2f2; font-size: 18px; padding: 15px 0; box-sizing: border-box;}
.pyo_movie_chart > div > div > div .infor .infor_btn a:last-child {margin-right: 0;}

/*이벤트*/
.pyo_event {overflow: hidden; padding: 100px 0;}
.pyo_event img {display: block;}
.pyo_event h2 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}
.pyo_event .event_left {overflow: hidden; float: left; width: 66%; margin-right: 2%;}
.pyo_event .event_left .event_box1 {float: left; width: 50%;}
.pyo_event .event_left .event_box2 {float: left; width: 50%;}
.pyo_event .event_right {float: left; width: 32%;}

/*오프닝*/
.pyo_opening {padding: 100px 0; text-align: center; color: #bb9b51;}
.pyo_opening h2 {margin-bottom: 15px;}
.pyo_opening h2 .grand {background-position: 0 -175px; display: inline-block; width: 330px; height: 50px;}
.pyo_opening .date {background-position: 0 -225px; display: inline-block; width: 260px; height: 45px; }
.pyo_opening .desc {font-size: 35px; font-weight: 300; padding-bottom: 20px; background: url(../img/bar.png) no-repeat bottom center; background-size: 100%;}
.pyo_opening .open_box {overflow: hidden; padding: 20px 3% 0 3%;}
.pyo_opening .open_box > div {float: left; width: 27.333%; margin: 4% 3% 0 3%; box-sizing: border-box;background:rgba(0, 0, 0, 0.5) ; border: 1px solid #3e4b44;}
.pyo_opening .open_box > div h3 {color: #fff;font-weight: 300; border: 1px solid #6e3abb; margin-top: -24px; font-size: 19px; display: inline-block; padding: 10px 20px; background: #551eb9;}
.pyo_opening .open_box > div p {font-size: 23px; color: #fff; font-weight: 700; padding: 6% 0 10% 0;}
.pyo_opening .open_box > div em {display: block;font-weight: bold;}
.pyo_opening .open_box > div strong{display: block; font-weight: bold;}

/*새로운 영화*/
.pyo_new {padding : 100px 0; position: relative;}
.pyo_new h2 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}
.pyo_new .new_left {position: relative; margin-right: 423px; height: 500px; background: #ccc url(../img/new01.jpg) center center; background-size: cover; }
.pyo_new .new_left .play {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 120px;height: 120px;}
.pyo_new .new_left .play .st0 {fill : #fff; opacity: 0.3;}
.pyo_new .new_left .play .st1 {fill : #fff; }
.pyo_new .new_right {position: absolute; right: 0; top: 155px; width: 400px; height: 500px; padding: 34px; box-sizing: border-box; background: #f0f0f0;}
.pyo_new .new_right .title {font-size: 28px; color: #000;}
.pyo_new .new_right .release {font-size: 12px; color: #333;}
.pyo_new .new_right .star {padding: 13px 0;}
.pyo_new .new_right .star strong {font-size: 15px; padding-left: 5px;}
.pyo_new .new_right .star span {display: inline-block; width: 20px; height: 20px; vertical-align: -3px;}
.pyo_new .new_right .star .star1 {background-position: -393px 0;}
.pyo_new .new_right .star .star2 {background-position: -412px 0;}
.pyo_new .new_right .star .star0 {background-position: -374px 0;}
.pyo_new .new_right .summary {font-size: 14px;}
.pyo_new .new_right .genre {padding-bottom: 3px; }
.pyo_new .new_right .age {padding-bottom: 10px;}
.pyo_new .new_right .desc {height: 108px; overflow: hidden; margin-bottom: 20px;}

.pyo_new .new_right .select{overflow: hidden;}
.pyo_new .new_right .select .s1{float: left; width: 49%; background: #000; margin-right: 2%;}
.pyo_new .new_right .select .s2{float: left; width: 49%; background: #000;}
.pyo_new .new_right .select .s3{float: left; width: 100%; margin-top: 2%;}
.pyo_new .new_right .customBtn {overflow: hidden; margin-top: 2%; text-align: center;}
.pyo_new .new_right .customBtn a {float: left; width: 49%; box-sizing: border-box; display: block; padding: 10px 30px 12px 30px;}
.pyo_new .new_right .customBtn a.white {background-color: #fff; margin-right: 2%; color: #3a0e6a; border: 1px solid #3a0e6a;}
.pyo_new .new_right .customBtn a.purple {background-color: #3a0e6a; color: #fff; border: 1px solid #6e40c4;}

/* help */
.pyo_help {overflow: hidden; padding-bottom: 200px;}
.pyo_help article {float: left; width: 32%; margin-right: 2%; height: 350px;}
.pyo_help article > div {border : 1px solid #dbdbdb; height: 350px;}
.pyo_help article.help_box3 {margin-right: 0;}
.pyo_help article.help_box3 > div {border : 0;}
.pyo_help article h3{font-size: 30px; font-weight: 500; margin-bottom: 20px;}

/* 공지사항 */
.pyo_notice {position: relative; padding : 17px;}
.pyo_notice ul {overflow: hidden;}
.pyo_notice ul li {float: left; text-align: center; margin-right: -1px; }
.pyo_notice ul li a {border: 1px solid #dbdbdb; font-size: 15px; color :#666; display: block; width: 80px; padding: 10px 20px; background-color: #f5f5f5;}
.pyo_notice ul li.active a {background-color: #fff;}
.pyo_notice ul li ul {position: absolute; left: 17px; top: 70px; width: 90%;}
.pyo_notice ul li ul li {width: 100%; box-sizing: border-box; text-align: left; padding: 17px; border-bottom: 1px solid #dbdbdb;}
.pyo_notice ul li ul li:last-child {border-bottom: 0;}
.pyo_notice ul li ul li dt em {color: #999; }
.pyo_notice ul li ul li dt .bar {position: relative; padding-right: 14px;}
.pyo_notice ul li ul li dt .bar::after {content: ''; position: absolute; right: 4px; top: 5px; width: 1px; height: 11px; background: #999;}
.pyo_notice ul li ul li dd {color : #777; padding-top: 3px; }
.pyo_notice ul li ul li a {border : 0; padding: 0; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}


/* 할인카드 */
.pyo_card {padding: 17px;}
.pyo_card ul li {position: relative; border : 1px solid #d7d7d7; padding: 17px; margin-bottom: 17px; min-height: 102px; box-sizing: border-box;}
.pyo_card ul li span {position: absolute; left: 17px; top: 17px;}
.pyo_card ul li span img {width: 105px;}
.pyo_card ul li strong {display: block; font-size: 18px; padding-left: 120px; color: #777;}
.pyo_card ul li em {display: block; font-size: 14px; padding-left: 120px; color: #777; font-weight: 300;}

/* 고객센터 */
.pyo_service ul {overflow: hidden;}
.pyo_service li {float: left; width: 50%; height: 193px; box-sizing: border-box; border: 1px solid #d7d7d7; text-align: center;}
.pyo_service li a span {display: block; width: 120px; height: 120px; margin: 20px auto 0 auto;}
.pyo_service li a strong {color: #666; font-size: 18px; font-weight: 500;}
.pyo_service li:nth-child(1) {border-right: 0; border-bottom: 0;}
.pyo_service li:nth-child(2) {border-bottom: 0;}
.pyo_service li:nth-child(3) {border-right: 0;}

/* 푸터 */
.pyo_footer_sns {position: absolute; right: 17px; top: 33px; z-index: 1;}
.pyo_footer_sns li {display: inline-block; margin: 0 2px;}
.pyo_footer_sns li a {display: block; width: 36px; height: 36px;}
.pyo_footer_sns li.s1 {background-position: 0 -375px;}
.pyo_footer_sns li.s2 {background-position: -36px -375px;}
.pyo_footer_sns li.s3 {background-position: -72px -375px;}
.pyo_footer_sns li.s4 {background-position: -108px -375px;}
.pyo_footer_sns li.s5 {background-position: -144px -375px;}
.pyo_footer_sns li.s1:hover {background-position: 0 -411px;}
.pyo_footer_sns li.s2:hover {background-position: -36px -411px;}
.pyo_footer_sns li.s3:hover {background-position: -72px -411px;}
.pyo_footer_sns li.s4:hover {background-position: -108px -411px;}
.pyo_footer_sns li.s5:hover {background-position: -144px -411px;}
.pyo_footer_sns .tel {text-align: right; padding-top: 5px;}
.pyo_footer_sns .tel a {color : #8f8f8f; font-size: 21px;}
.pyo_footer_sns .tel a em {color: #fff;}
.pyo_footer_info {padding: 50px 0; width: 80%;}
.pyo_footer_info h2 img {width: 150px;}
.pyo_footer_info ul {padding: 15px 0;}
.pyo_footer_info li {position: relative; display: inline; padding-right: 16px; white-space: nowrap;}
.pyo_footer_info li::after {content: ''; position: absolute; right: 5px; top: 5px; width: 1px; height: 11px; background: #8f8f8f;}
.pyo_footer_info li:last-child::after {width: 0; height: 0;}
.pyo_footer_info li a {color: #8f8f8f;}
.pyo_footer_info address p {color : #8f8f8f; padding-bottom: 15px;}

/*미디어 쿼리*/
@media (max-width:1290px){
    .pyo_container {width: 100%;}
    .pyo_header .pyo_nav ul li {width: 93px;}
    .pyo_header .pyo_nav ul li a {font-size: 15px; padding: 17px 10px;}
    .pyo_header h1 em {padding: 13px 8px 5px 0;}
    .pyo_header h1 strong {top: 20px;}
    .swiper-button-prev, .swiper-button-next {display: none;}
}

@media (max-width:1024px){
    #pyo_mNav {display: block;}
    .pyo_nav {display: none;}
    .pyo_row {padding: 0 24px;}
    .pyo_header h1 {float: none; text-align: center;}
    .pyo_header h1 strong {left: 24px;}
    .pyo_banner_menu .bm_left ul {display: none;}
    .pyo_banner_menu .bm_right ul:first-child {display: none;}

    .pyo_help article.help_box1 {width: 49%; margin-right: 2%;}
    .pyo_help article.help_box2 {width: 49%; margin-right: 0;}
    .pyo_help article.help_box3 {width: 100%; margin-top: 2%;}
    .pyo_help article {height: auto;}
    .pyo_service li {width: 25%; height: auto;}
    .pyo_service li:nth-child(1) {border-bottom: 1px solid #d7d7d7;}
    .pyo_service li:nth-child(2) {border-bottom: 1px solid #d7d7d7; border-right: 0;}
    .pyo_service li a strong {display: block; padding-bottom: 10%;}
}

@media (max-width:960px){
    .pyo_slider {height: 500px;}
    .pyo_slider .swiper-slide h2 {margin-top: 170px; font-size: 37px; line-height: 45px;}
    .pyo_slider .swiper-slide h2::after {bottom: -15px;}
    .pyo_slider .swiper-slide h2 em {font-size: 34px;}
    .pyo_slider .swiper-slide p {font-size: 16px; padding-top: 35px;}

    .pyo_movie_title ul {width: auto;}
    .pyo_movie_title li {width: 25%; box-sizing: border-box;}

    .pyo_opening {padding: 50px 0;}
    .pyo_opening .open_box {display: none;}
    .pyo_opening .desc {background: none; font-size: 25px;}

    .pyo_new .new_left {margin-right: 0; height: 400px;}
    .pyo_new .new_right {position: relative; top: 0; width: 100%; height: auto; overflow: hidden;}

    .pyo_help {padding-bottom: 0;}

    .pyo_footer_sns {position: static; text-align: center; background: #352c2c; padding-bottom: 15px;}
    .pyo_footer_sns .tel {display: none;}
    .pyo_footer_info {width: 100%; text-align: center;}
}

@media (max-width:768px){
    body {background: #d9d7e0;}
    .pyo_row {padding: 0 16px;}
    #pyo_mNav {right: 6px;}
    .pyo_header h1 strong {display: none;}
    .pyo_header h1 {text-align: left;}


    #pyo_movie {background: none;}
    #pyo_movie .pyo_row {background: #fff; margin: 24px 24px 0 24px; padding: 24px;}
    #pyo_movie .ir_so {position: static; width: auto; height: auto; line-height: normal; text-indent: 0; font-size: 24px; font-weight: bold; padding-bottom: 20px;}
    .pyo_movie {padding: 0;}
    .pyo_movie_title {margin-bottom: 30px;}
    .pyo_movie_title ul {position: relative; padding-bottom: 10px;}
    .pyo_movie_title ul::before {content:''; position: absolute;z-index: 1; left: 0; bottom: 0;width: 100%;height: 2px;background: #e1e1e1;}
    .pyo_movie_title li {width: auto; border: 0;}
    .pyo_movie_title li a {position: relative; font-size: 18px; color: #666; font-weight: 400; padding: 0; margin-right: 35px;}
    .pyo_movie_title li.active a::before {content:''; position: absolute; z-index: 2; bottom: -10px; width: 100%; height: 2px;background: #666;}
    .pyo_movie_title li.active a {background: none; color: #666;}

    #pyo_event .pyo_row {padding: 24px;}
    .pyo_event {padding: 24px; background: #fff;}
    .pyo_event h2 {font-size: 24px; font-weight: 700;}
    .pyo_event .event_left {width: 100%; margin-right: 0;}
    .pyo_event .event_right {display: none;}

    #pyo_opening {margin: 0;}

    #pyo_new .pyo_row {padding: 0 24px;}
    .pyo_new {padding: 24px; background-color: #fff; margin-top: 24px;}
    .pyo_new h2 {font-size: 24px; font-weight: 700; height: 27px; margin-bottom: 20px; padding-bottom: 10px;}
    .pyo_new .new_right {padding: 24px;}

    #pyo_help .pyo_row {padding: 0 24px;}
    .pyo_help {padding-bottom: 24px;}
    .pyo_help article.help_box1 {padding: 24px; box-sizing: border-box; width: 100%; background: #fff; margin-right: 0%; margin-top: 24px;}
    .pyo_help article.help_box2 {padding: 24px; box-sizing: border-box; width: 100%; background: #fff; margin-right: 0; margin-top: 24px;}
    .pyo_help article.help_box3 {box-sizing: border-box; width: 100%; background: #fff; margin-top: 0%; margin-top: 24px;}
    .pyo_help article.help_box1 h3 {font-size: 24px; font-weight: 700; height: 27px; margin-bottom: 20px; padding-bottom: 10px;}
    .pyo_help article.help_box2 h3 {font-size: 24px; font-weight: 700; height: 27px; margin-bottom: 20px; padding-bottom: 10px;}
    .pyo_help article h3 {display: none;}
    .pyo_help article.help_box3 > div {height: auto;}
    .pyo_service li {border: 0;}
    .pyo_service li:nth-child(1) {border-bottom: 0;}
    .pyo_service li:nth-child(2) {border-bottom: 0;}
}

@media (max-width:600px){
    .pyo_slider {height: 400px;}
    .pyo_slider .swiper-slide h2 {margin-top: 140px; font-size: 24px; line-height: 30px;}
    .pyo_slider .swiper-slide h2::after {bottom: -5px;}
    .pyo_slider .swiper-slide h2 em {font-size: 20px;}
    .pyo_slider .swiper-slide p {font-size: 14px; padding-top: 25px;}
    .pyo_banner_menu {top: 16px;}
    .pyo_banner_menu .bm_right li.white a {
        font-size: 14px; padding: 3px 5px 5px 5px;
        color : #fff;
        background: rgba(0,0,0,0.6);
        border-color: #fff;
    }
    .pyo_banner_menu .bm_right li.purple a {
        font-size: 14px; padding: 3px 5px 5px 5px;
        color : #fff;
        background: rgba(0,0,0,0.6);
        border-color: #fff;
    }
    .swiper-pagination-bullet {width: 13px !important; height: 13px !important;}

    #pyo_movie .pyo_container {position: relative;}
    #pyo_movie .pyo_container:after {content: ''; position: absolute; z-index: 20; top: 0; right: 0; width: 8px; height: 100%; background: #d9d7e0;}
    #pyo_movie .pyo_row {position: relative; margin: 8px; padding: 16px; background: #fff; margin-right: 0; padding-right: 0;}
    #pyo_movie .pyo_row:after {content: ''; position: absolute; top: 0; right: 0; z-index: 10; width: 24px; height: 100%; background: #fff;}
    #pyo_movie .ir_so {font-size: 18px; padding-bottom: 10px;}
    .pyo_movie_title {margin-bottom: 20px;}
    .pyo_movie_title ul {padding-bottom: 8px; overflow-x: auto;white-space: nowrap;}
    .pyo_movie_title li a {font-size: 14px; margin-right: 15px;}
    .pyo_movie_title li.active a:before {bottom: -8px;}
    .pyo_movie_chart {position: relative; z-index: 30;}
    .pyo_movie_chart > div > div > div .infor {padding: 5px;}
    .pyo_movie_chart > div > div > div .infor h3 {text-align: center; margin: 5px 0 10px; }
    .pyo_movie_chart > div > div > div .infor h3 strong {display: block; font-size: 19px; color: #222; font-weight: 300;}
    .pyo_movie_chart > div > div > div .infor h3 span {display: none;}
    .pyo_movie_chart > div > div > div .infor .infor_btn a {width: 52%; margin-left: 24%; display: block; margin-right: 0; padding: 5px; color: #777; margin-bottom: 5px; box-sizing: border-box; font-size: 14px; background: none; border: 1px solid #ddd;}
    .pyo_movie_chart > div > div > div .infor .infor_btn a:last-child {display: none;}

    #pyo_event .pyo_row {padding: 0 8px;}
    .pyo_event {padding: 16px;}
    .pyo_event h2 {font-size: 18px; margin-bottom: 10px;}
    .pyo_event .event_left {width: 100%; margin-right: 0;}
    .pyo_event .event_right {display: none;}

    #pyo_opening {margin: 8px 0;}
    .pyo_opening {padding: 20px 0;}
    .pyo_opening h2 {margin-bottom: 10px;}
    .pyo_opening h2 .grand {background-size: 300px; background-position: 0 -105px; width: 197px; height: 24px;}
    .pyo_opening .date {display: none;}
    .pyo_opening .desc {font-size: 16px; font-weight: 400; padding-bottom: 0;}

    #pyo_new .pyo_row {padding: 0 8px;}
    .pyo_new {padding: 16px; margin-top: 8px;}
    .pyo_new h2 {font-size: 18px;margin-bottom: 0;}
    .pyo_new .new_left {height: 300px;}
    .pyo_new .new_right {padding: 17px;}
    .pyo_new .new_right .title {font-size: 22px;}
    .pyo_new .new_right .star {padding: 9px 0;}
    .pyo_new .new_right .select .s1 {width: 100%; margin-right: 0; margin-bottom: 2%;}
    .pyo_new .new_right .select .s2 {width: 100%;}

    #pyo_help .pyo_row {padding: 0 8px;}
    .pyo_help article.help_box1 {margin-top: 8px; padding: 16px;}
    .pyo_help article.help_box2 {margin-top: 8px; padding: 16px;}
    .pyo_help article.help_box3 {margin-top: 8px; }
    .pyo_help article.help_box1 h3 {font-size: 18px;margin-bottom: 0;}
    .pyo_help article.help_box2 h3 {font-size: 18px;margin-bottom: 0;}
    .pyo_card {padding: 8px;}
    .pyo_service li {width: 50%; }
    .pyo_service li:nth-child(1) {border-right: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7;}
    .pyo_service li:nth-child(2) {border-bottom: 1px solid #d7d7d7;}
    .pyo_service li:nth-child(3) {border-right: 1px solid #d7d7d7;}
}

@media (max-width:480px){

}